In [2]:
import pandas as pd

In [61]:
file_path_1 = 'Dataset/chicago_listings.csv'
file_path_2 = 'Dataset/new_orleans_listings.csv'

df = pd.read_csv(
    file_path_1,
    encoding="utf-8",              # Use the correct encoding
    quotechar='"',                 # Protect quoted text
    escapechar='\\',               # If there are any escaped characters
    engine="python",               # Use Python engine to better handle multiline
    on_bad_lines='warn'            # or 'skip' to silently drop malformed rows
)
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,113.0,3,253,2025-06-08,1.99,1,341,11,R17000015609
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90166,-87.68021,Entire home/apt,100.0,2,580,2025-06-01,2.98,1,60,51,R24000114046
2,10945,The Biddle House (#1),33004,At Home Inn,NaN,Lincoln Park,41.91196,-87.63981,Entire home/apt,203.0,4,121,2025-06-11,0.89,7,284,28,2209984
3,12140,Lincoln Park Guest House,46734,Shay And Robert,NaN,Lincoln Park,41.92357,-87.64947,Private room,288.0,2,18,2024-10-27,0.15,1,147,2,2398451
4,28749,Quirky Bucktown Loft w/ Parking No Parties,27506,Lauri,NaN,Logan Square,41.91955,-87.70069,Entire home/apt,250.0,2,253,2025-06-05,1.43,1,80,44,R24000113825

In [62]:
df = df.dropna(axis=1, how='all')

if 'price' in df.columns:
    median_price = df['price'].median()
    df['price'] = df['price'].fillna(median_price)
    print(f"Filled missing prices with median = {median_price}")   
else: print("price column not found in dataset.")
        
if 'minimum_nights' in df.columns:
    median_min_night = df['minimum_nights'].median()
    df['minimum_nights'] = df['minimum_nights'].fillna(median_min_night)
    print(f"Filled missing minimum_nights with median = {median_min_night}")
else: print("minimum_height column not found in dataset.")

if 'number_of_reviews' in df.columns:
    no_of_review = df['number_of_reviews'].median()
    df['number_of_reviews'] = df['number_of_reviews'].fillna(no_of_review)
    print(f"Filled missing number_of_reviews with median = {no_of_review}")
else: print("number_of_reviews column not found in dataset.")

if 'reviews_per_month' in df.columns:
    rev_per_month = df['reviews_per_month'].median()
    df['reviews_per_month'] = df['reviews_per_month'].fillna(rev_per_month)
    print(f"Filled missing reviews_per_month with median = {rev_per_month}")
else: print("reviews_per_month column not found in dataset.")

if 'availability_365' in df.columns:
    avl_365 = df['availability_365'].median()
    df['availability_365'] = df['availability_365'].fillna(avl_365)
    print(f"Filled missing availability_365 with median = {avl_365}")
else: print("availability_365 column not found in dataset.")

if 'reviews_per_month' in df.columns:
    rev_per_month = df['reviews_per_month'].median()
    df['reviews_per_month'] = df['reviews_per_month'].fillna(rev_per_month)
    print(f"Filled missing reviews_per_month with median = {rev_per_month}")
else: print("reviews_per_month column not found in dataset.")

if 'last_review' in df.columns:
    df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')
    median_date = df['last_review'].median()
    df['last_review'] = df['last_review'].dt.date
    df['last_review'] = df['last_review'].fillna(median_date.date())
    print(f"Filled missing last_review with median = {median_date.date()}")
else: print("last_review column not found in dataset.")


df.to_csv("listings_chicago_cleaned.csv", index=False)
print("Final cleaned dataset saved as 'listings_chicago_cleaned.csv'")

Filled missing prices with median = 169.0
Filled missing minimum_nights with median = 2.0
Filled missing number_of_reviews with median = 14.0
Filled missing reviews_per_month with median = 1.54
Filled missing availability_365 with median = 250.0
Filled missing reviews_per_month with median = 1.54
Filled missing last_review with median = 2025-05-30
Final cleaned dataset saved as 'listings_chicago_cleaned.csv'

In [63]:
missing_percent = df.isnull().mean() * 100
missing_percent = missing_percent[missing_percent > 0].sort_values(ascending=False)
print(f"Missing Percent: \n{missing_percent}")

# Check total null rows
null_count = df.isnull().sum()
null_count = null_count[null_count > 0].sort_values(ascending=False)
print(f"\nCount null rows: \n{null_count}")

# Check total duplicate rows
duplicate_count = df.duplicated().sum()
print(f"\nDuplicate rows: {duplicate_count}")

Missing Percent:
license      31.345886
host_name     0.058113
dtype: float64

Count null rows:
license      2697
host_name       5
dtype: int64

Duplicate rows: 0

In [65]:
df2 = pd.read_csv(
    file_path_2,
    encoding="utf-8",              # Use the correct encoding
    quotechar='"',                 # Protect quoted text
    escapechar='\\',               # If there are any escaped characters
    engine="python",               # Use Python engine to better handle multiline
    on_bad_lines='warn'            # or 'skip' to silently drop malformed rows
)

df2.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,19091,Fully Furnished Cozy Apartment,72880,John,NaN,Leonidas,29.96100,-90.11950,Entire home/apt,62.0,1,504,2025-03-07,2.73,1,288,1,"25-NSTR-11772, 25-OSTR-11151"
1,71624,Ravenwood Manor (Historic Bywater),367223,Susan,NaN,Bywater,29.96153,-90.04364,Entire home/apt,150.0,30,316,2025-05-07,1.81,1,356,8,"21-RSTR-18609, 22-OSTR-20720"
2,79536,FeelAtHomeInNewOrleans-PrivateApt,428362,Miriam,NaN,Seventh Ward,29.97803,-90.07450,Entire home/apt,NaN,3,781,2025-05-11,4.54,1,8,50,"23-NSTR-15067, 24-OSTR-20882"
3,79609,Bywater's Original & Finest,428909,Stephen,NaN,St. Claude,29.96448,-90.03667,Entire home/apt,121.0,30,506,2025-03-05,2.91,1,356,5,"23-ISTR-02823, 23-OSTR-02823"
4,80869,"Frenchmen House ""Red Room""",437783,Joanne,NaN,Marigny,29.96811,-90.05905,Private room,80.0,1,989,2025-06-02,5.71,2,210,51,24-XSTR-08500

In [66]:
df2 = df2.dropna(axis=1, how='all')

if 'price' in df2.columns:
    median_price = df2['price'].median()
    df2['price'] = df2['price'].fillna(median_price)
    print(f"Filled missing prices with median = {median_price}")   
else: print("price column not found in dataset.")
        
if 'minimum_nights' in df2.columns:
    median_min_night = df2['minimum_nights'].median()
    df2['minimum_nights'] = df2['minimum_nights'].fillna(median_min_night)
    print(f"Filled missing minimum_nights with median = {median_min_night}")
else: print("minimum_height column not found in dataset.")

if 'number_of_reviews' in df2.columns:
    no_of_review = df2['number_of_reviews'].median()
    df2['number_of_reviews'] = df2['number_of_reviews'].fillna(no_of_review)
    print(f"Filled missing number_of_reviews with median = {no_of_review}")
else: print("number_of_reviews column not found in dataset.")

if 'reviews_per_month' in df2.columns:
    rev_per_month = df2['reviews_per_month'].median()
    df2['reviews_per_month'] = df2['reviews_per_month'].fillna(rev_per_month)
    print(f"Filled missing reviews_per_month with median = {rev_per_month}")
else: print("reviews_per_month column not found in dataset.")

if 'availability_365' in df2.columns:
    avl_365 = df2['availability_365'].median()
    df2['availability_365'] = df2['availability_365'].fillna(avl_365)
    print(f"Filled missing availability_365 with median = {avl_365}")
else: print("availability_365 column not found in dataset.")

if 'reviews_per_month' in df2.columns:
    rev_per_month = df2['reviews_per_month'].median()
    df2['reviews_per_month'] = df2['reviews_per_month'].fillna(rev_per_month)
    print(f"Filled missing reviews_per_month with median = {rev_per_month}")
else: print("reviews_per_month column not found in dataset.")

if 'last_review' in df2.columns:
    df2['last_review'] = pd.to_datetime(df2['last_review'], errors='coerce')
    median_date = df2['last_review'].median()
    df2['last_review'] = df2['last_review'].dt.date
    df2['last_review'] = df2['last_review'].fillna(median_date.date())    
    print(f"Filled missing last_review with median = {median_date.date()}")
else: print("last_review column not found in dataset.")

df2.to_csv("listings_new_orleans_cleaned.csv", index=False)
print("Final cleaned dataset saved as 'listings_new_orleans_cleaned.csv'")

Filled missing prices with median = 135.0
Filled missing minimum_nights with median = 3.0
Filled missing number_of_reviews with median = 24.0
Filled missing reviews_per_month with median = 1.21
Filled missing availability_365 with median = 257.5
Filled missing reviews_per_month with median = 1.21
Filled missing last_review with median = 2025-05-05
Final cleaned dataset saved as 'listings_new_orleans_cleaned.csv'

In [67]:
missing_percent = df2.isnull().mean() * 100
missing_percent = missing_percent[missing_percent > 0].sort_values(ascending=False)
print(f"Missing Percent: \n{missing_percent}")

# Check total null rows
null_count = df2.isnull().sum()
null_count = null_count[null_count > 0].sort_values(ascending=False)
print(f"\nCount null rows: \n{null_count}")

# Check total duplicate rows
duplicate_count = df2.duplicated().sum()
print(f"\nDuplicate rows: {duplicate_count}")

Missing Percent:
license    17.894177
dtype: float64

Count null rows:
license    1346
dtype: int64

Duplicate rows: 0

In [68]:
show_data = pd.read_csv('listings_new_orleans_cleaned.csv')
show_data.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,19091,Fully Furnished Cozy Apartment,72880,John,Leonidas,29.96100,-90.11950,Entire home/apt,62.0,1,504,2025-03-07,2.73,1,288,1,"25-NSTR-11772, 25-OSTR-11151"
1,71624,Ravenwood Manor (Historic Bywater),367223,Susan,Bywater,29.96153,-90.04364,Entire home/apt,150.0,30,316,2025-05-07,1.81,1,356,8,"21-RSTR-18609, 22-OSTR-20720"
2,79536,FeelAtHomeInNewOrleans-PrivateApt,428362,Miriam,Seventh Ward,29.97803,-90.07450,Entire home/apt,135.0,3,781,2025-05-11,4.54,1,8,50,"23-NSTR-15067, 24-OSTR-20882"
3,79609,Bywater's Original & Finest,428909,Stephen,St. Claude,29.96448,-90.03667,Entire home/apt,121.0,30,506,2025-03-05,2.91,1,356,5,"23-ISTR-02823, 23-OSTR-02823"
4,80869,"Frenchmen House ""Red Room""",437783,Joanne,Marigny,29.96811,-90.05905,Private room,80.0,1,989,2025-06-02,5.71,2,210,51,24-XSTR-08500